# Supabase Environment Variables Template
# Salin nilai sebenarnya dari Dashboard Supabase -> Project Settings -> API
NEXT_PUBLIC_SUPABASE_URL=https://your-project-id.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-actual-anon-key-here

# Google Drive OAuth 2.0 & Storage Configuration
GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your-google-client-secret
GOOGLE_REDIRECT_URI=https://your-app.vercel.app/api/auth/google/callback
GOOGLE_REFRESH_TOKEN=your-obtained-refresh-token
GOOGLE_DRIVE_PARENT_FOLDER_ID=13TsWALJI38xE55YxY1QOT9RsTpowq5y-

# Notifikasi Pengingat Gmail (Nodemailer / SMTP)
GMAIL_USER=umum3602@gmail.com
GMAIL_APP_PASSWORD=ofjn mxzj foig effk
CRON_SECRET=bps-lebak-cron-secret-98234y57928374
NEXT_PUBLIC_APP_URL=https://humas3602.vercel.app

